body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#game-container {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trash-bin {
  width: 250px;
  height: 250px;
  background-color: #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.trash-img {
  max-width: 250px;
  max-height: 250px;
}

#score,
#highscore {
  text-align: center;
  margin-bottom: 10px;
}

#restart-btn {
  display: block;
  margin: 0 auto;
}

#game-stats {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
