body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.start-container {
  display: block;
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

#start-btn {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #0056b3;
}

#game-container {
  display: none;
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trash-bin {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.trash-bin-spacer {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.trash-img {
  max-width: 150px;
  max-height: 150px;
}

#score,
#highscore {
  text-align: center;
  margin-bottom: 10px;
}

#restart-btn {
  display: block;
  margin: 0 auto;
}

#game-stats {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  display: none; /* Sākumā paslēpj paziņojumu */
}

@media only screen and (max-width: 768px) {
  #game-container {
    width: 90%;
  }

  .trash-bin,
  .trash-bin-spacer {
    width: 100px;
    height: 100px;
  }

  .trash-img {
    max-width: 100px;
    max-height: 100px;
  }

  #message {
    font-size: 20px;
  }
}
